#main h1 {
    color: #FF9A00;
    font-size: 19px;
    font-weight: bold;
    border-bottom: 1px dotted #000000;
    margin: 0px 0px 10px 0px;
}

#main h2, #main h2 a {
    color: #FF9A00;
    font-size: 15px;
    font-weight: bold;
    margin: 35px 0px 0px 0px;
}

#main h3 {
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    margin: 35px 0px 0px 0px;
}

#main pre {
    max-width: 760px;
    overflow: auto;
}

#main p {
    padding: 0px 2px;
    text-align: justify;
}

#main p.quote {
    font-style: italic;
    text-align: right;
}

#main ul {
    list-style-position: outside;
    padding: 0px 40px 0px 40px;
    margin-top: 4px;
}

#main ul li {
    text-align: justify;
    padding: 5px 0px;
}

#main a {
    color: #ff9a00;
    font-size: 12px;
}

#main a:hover {
    color: #000000;
}

#main ul.index {
    padding: 0px;
    margin-bottom: 25px;
}

#main ul.index {
    list-style-type: none;
}

#main ul.index li {
    display: inline-table;
    padding: 0px 10px 5px 10px;
}

#main ul.index li a {
    font-weight: bold;
}

#main .box_image {
    float: left;
    padding: 0px 10px;
}

#main .right_image {
    float: right;
    padding: 0px 10px;
}

#main blockquote,
#main blockquote a {
    font-size: 16px;
}

#main div.pagination {
    display: inline-block;
    margin-bottom: 10px;
}

#main .pagination a,
#main .pagination span {
    float: left;
    padding: 2px 8px;
    margin: 0px 5px;
}

#main .pagination a {
    background-color: #E6E6E6;
    color: #666666;
}

#main .pagination span {
    background-color: #FF9A00;
    color: #ffffff;
}
