#main .item-1 {
    float: left;
    width: 180px;
    height: 100px;
    overflow: hidden;
    margin: 3px 3px;
    padding: 0px 5px;
    background-color: #efefef;
}

#main .item-1 h2 {
    margin: 3px;
}

#main .item-1 p {
    margin: 4px 0px;
    text-align: left;
}

#main .item-2 {
    min-height: 75px;
}

#main table {
    width: 100%;
    border: 2px solid #E6E6E6;
}

#main table tr th {
    text-transform: uppercase;
}

#main table tr.even {
    background-color: #E6E6E6;
}

#main #messages {
    border: 1px dotted #FF9A00;
    margin-bottom: 10px;
}

#main #messages div.closeable {
    margin-right: 5px;
}

#main #messages div.closeable a {
    font-weight: bold;
}

#main #messages p.message {
    margin: 5px 15px 5px 5px;
}

#main .tasks input[type="submit"] {
    background-color: #E6E6E6;
    border: none;
    padding: 1px 6px;
}
