#main .item-1 {
    float: left;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 5px 10px;
}

#main .item-1 h2 {
    margin: 3px;
}

#main table {
    width: 100%;
    border: 2px solid #E6E6E6;
}

#main table tr th {
    text-transform: uppercase;
}

#main table tr.even {
    background-color: #E6E6E6;
}